@import url("https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap");
@import "../scss/colors.scss";
@import "../scss/responsive.scss";
*:not(.markdown-viewer *) {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Cousine", monospace;
	font-size: 15px;
	font-weight: 300;
	@include mobile {
		font-size: 14px;
	}
}

body,
html {
	background-color: #212121;
}
::-webkit-scrollbar {
	width: 4px;
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: $highlight;
}
