@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500&display=swap");
@import "../scss/colors.scss";
*:not(.markdown-viewer *) {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Teko", sans-serif;
	font-size: 20px;
	font-weight: 300;
}

body,
html {
	background-color: #212121;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #00ff85;
}
