$main: #575757;
$main_darker: darken($main, 20);
$secondary: #353535;
$secondary_darker: darken($secondary, 20);
$highlight: #d1d1d1;
$highlight_darker: darken($highlight, 20);
$danger: #b20000;
$danger_darker: darken($danger, 10);
